<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple HTML and CSS Layout</title>
    
</head>
<body>

    <header>
      <h1>Home page</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/documentation">Documentation</a></li>
                <li><a href="/installation">Installation</a></li>
                <li><a href="/automation">Automation</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <hr>
        <h1>Installation Page</h1>
        <h3>{{introduction}}</h3>
        <p>{{title|title}}</p>
        <p>Skills: </p>
        <ul>
            {% for skill in skills %}
                <li>{{ skill|truncatewords:3 }}...</li>
            {% endfor %}
        </ul>
        <p>Tools: </p>
        <ul>
            {% for tool in tools %}
                <li>{{ tool|truncatewords:3 }}...</li>
            {% endfor %}
        </ul>
        <hr>
    </main>

    <footer>
        <p>&copy; 2024 Eli Bautista</p>
    </footer>

</body>
</html>
